
/* 
body{
    background-color: rgb(94, 65, 119);
} */
.maincont
{
 width: 100%;
 height: 100rem;
 margin : 0px;
 background-color: rgb(145, 88, 194);

}

.cont{
    height: fit-content;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    background-color:  rgba(241, 236, 236, 0.6);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    border: solid black 2px;
   
   }
.heading{
    color: black;
    font-family: cursive;
    
}

#inputbox
{
   border-radius: 3px;
    width: 88%;
   color:white;
    
}
li
{
    background-color: white;
    margin: 5px;
    text-align: start;
    padding-left: 4px;
    border-radius: 2px;
}

.theme{
    background-color: lavender;
    color: white;
    text-transform: capitalize;
    border: black solid 1x;

}